import React from 'react'
import PropTypes from 'prop-types'
import Styled from 'styled-components'

const <%= componentName %>Wrapper = Styled.div``

function <%= componentName %>() {
	return (
		<<%= componentName %>Wrapper>
      
		</<%= componentName %>Wrapper>
	)
}

export default <%= componentName %>

<%= componentName %>.propTypes = {
	title: PropTypes.string.isRequired
}
<%= componentName %>.defaultTypes = {
	title: PropTypes.string.isRequired
}